---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/NavBar.astro";
import Welcome from "../components/Welcome.astro";
import "../styles/global.css";

// Por defecto, iniciamos en modo web y tema claro
const mode = "web";
const theme = "light";
---

<Layout title="Mi Portafolio | Software developer" mode={mode} theme={theme}>
  <Navbar mode={mode} theme={theme} />

  <main class="pt-20">
    <Welcome />
  </main>
</Layout>
